<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decryption</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>ISSA Digial Assignement Task </h1>
    <h1>Topic</h1>
    <h2>{{topic}}</h2>
    <h1>Encrypted Message</h1>
    <h2>{{encryptedMessage}}</h2>
    <h1>Decrypted Message</h1>
    <h2>{{decryptedMessage}}</h2>

</body>
</html>