<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

        <div>
            <a href="/logout">
                <button class="logout">
                        Logout
                </button>
            </a>
        </div>
    <div>
        
    </div>
    <div class="form_container">
        <form  method="post">
            <label for="Topic">Topic</label>
            <input id="Topic" type="text" name="Topic">
            <label for="desc">Description</label>
            <textarea id="desc" name="Description"></textarea>
            <br><br>
            <div class="submit">
            <button type="submit" class="sbt">Encrypt</button>
            </div>
        </form>
    </div>

    <div >
        <div>
            <h1>Encrypted Items</h1>
        {% for message in messages:%}
        <div class="message">
        <li>
        <a href="{{url_for('decrypt',topic=message[1],message=message[2])}}">{{message[1]}}</a>
        </li>
        </div>
        
        {%endfor%}  
        </div>
    </div>
</body>
</html>