<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<link rel="stylesheet" href="../static/style.css">
<body>
   
<h1>ISSA Digial Assignement Task </h1>
<h1>Login in page: </h1>

<div class="form_container">
    <form method="POST" style="border: 2px solid black;">
       
        <div>
            <label for="email">Enter your email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Enter your password</label>
            <input type="password" id="password" name="password" required>
        </div>
    
        <br>
        <div  class="submit">
            <button type="submit">Login</button>
        </div>
        </form>
        <span>Don't have account? <a href="{{url_for('signup')}}">Signup Here</a></span>
    </div>
   
</body>
</html>